body {
  background: #efefef;
}

header.main-header {
  height: 120px;
  background: #00001E;
  // background: linear-gradient(
  //   180deg,
  //   rgba(51, 34, 68, 1) 0%,
  //   rgba(85, 34, 102, 1) 100%
  // );
  color: #fff;

  .social {
    width: 160px;
  }

  section.site-title {
    a {
      color: white;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
.tagline {
  position: relative;
  left: 15px;
  bottom: 20px;
}

.unitOutput,
.unitInput {
  font-size: 1.3rem;
}

.menu-button {
  width: 150px;
  font-size: 1.3rem;
}

.converter-container {
  position: relative;
  height: 100%;
}

.converter {
  display: none;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  background: #00001E;
  /* background: linear-gradient(
    180deg,
    rgba(85, 34, 102, 1) 0%,
    rgba(51, 34, 68, 1) 100%
  ); */
  color: white;

  a {
    color: #fff;
    text-decoration: underline;
  }
}

.button {
  position: relative;
  font-size: 1.4rem;
  margin-right: 3px;
  margin-left: 3px;
  width: 145px;
  background: #0051bb;
  // background: #0077ff;

  color: #ccc;
  border: none;
  outline: none !important;
  padding: 3px;
  margin-bottom: 8px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 1);

  &:active {
    font-size: 1.3rem;
  }
}

.inactive {
  color: #ccc;
  background: rgb(0,81,187);
}

option:focus {
  background-color: red !important;
}

.form-control:focus {
  border-color: rgb(0,81,187);
  box-shadow: 0 0 0 0.2rem rgb(0, 119, 255);
}

.card {
  background-color: #e0e2ee;
}

#lengthButton {
  color: white;
  background: rgb(0, 119, 255);
}

section.form-container {
  width: 500px;
}

select option:focus {
  color: red;
}

.nav-dropdown {
  display: none;
  font-size: 1.4rem;

  select {
    background: rgb(0, 119, 255);
    color: #fff;

    option {
      border: none !important;
      outline: none !important;
    }
  }
}

select#converter-select-dropdown {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  button.converter-button {
    // padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }
}

@media only screen and (max-width: 585px) {
  header.main-header {
    .tagline {
      display: none;
    }
  }
}

@media only screen and (max-width: 576px) {
  header.main-header {
    h1 {
      font-size: 3rem;
    }
    .social {
      width: 30px;

      img {
        width: 30px;
      }
    }
  }
  .unitSelect {
    size: 8;
  }
  section.form-container {
    width: 100%;
    width: 300px;
  }
  .navbars {
    width: 100%;
    max-width: 300px;
  }
  .nav-buttons {
    display: none;
  }
  .nav-dropdown {
    display: block;
  }
}

@media only screen and (max-width: 530px) {
  .button {
    width: initial;
  }
}
